<!DOCTYPE html>
<html>


<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
  <title>Predict Heart Disease</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link type="text/css" rel="stylesheet" href="style.css">
	
</head>   

<body>
 <div class="login">
 
	<hl>Predict Heart Disease</hl>
	   
	<form action="{{ url_for('predict')}}"method="POST">
		<label for="age">Age (Years):</label><br>
		<input type="number" name="age" placeholder="" required="required" /><br>
		
		
		<label for="Gender">Gender:</label><br>
		<select name="Gender" id="Gender">
			<option value="Male">Male</option>
			<option value="Female">Female</option>
		<select><br>

		<label for="Chest_Pain">Chest Pain:</label><br>
		<select name="Chest_Pain" id="Gender">
			<option value="Typical">Typical</option>
			<option value="Atypical">Atypical</option>
			<option value="Not Anginal">Not Anginal</option>
			<option value="Asymptomatic">Asymptomatic</option>
		<select><br>
		<label for="Blood_Pressure">Blood_Pressure (Number in mm Hg on admission to the hospital):</label><br>
		<input type="number" name="Blood_Pressure" placeholder="" required="required" /><br>
		<label for="Cholesterol">Cholesterol (Number in mg/dl):</label><br>
		<input type="number" name="Cholesterol" placeholder="" required="required" /><br>
		<label for="Blood_Sugar">Blood_Sugar (fasting blood sugar <120mg or 120mg+):</label><br>
		<input type="text" name="Blood_Sugar" placeholder="" required="required" /><br>
		
		<label for="Rest_ECG">Rest ECG:</label><br>
		<select name="Rest_ECG" id="Rest_ECG">
			<option value="Normal">Normal</option>
			<option value="ST Abnormality">ST Abnormality</option>
			<option value="LV Abnormality">LV Abnormality</option>
		<select><br>
		
		
		<label for="Max_Heart_Rate">Max Heart Rate (Number):</label><br>
		<input type="text" name="Max_Heart_Rate" placeholder="" required="required" /><br>
		
		
		<label for="Exercise_Angina">Exercise Angina:</label><br>
		<select name="Exercise_Angina" id="Exercise_Angina">
			<option value="No">No</option>
			<option value="Yes">Yes</option>
		<select><br>
		
	
		<label for="ST_Depression">ST Depression:</label><br>
		<select name="ST_Depression" id="ST_Depression">
			<option value="None">None</option>
			<option value="Low">Low</option>
			<option value="High">High</option>
		<select><br>
		
		
		
		<label for="ST_Slope">ST Slope:</label><br>
		<select name="ST_Slope" id="ST_Depression">
			<option value="Flat">Flat</option>
			<option value="Upslope">Upslope</option>
			<option value="Downslope">Downslope</option>
		<select><br>
		
		<label for="Marked_Vessels">Marked Vessels (Number):</label><br>
		<input type="text" name="Marked_Vessels" placeholder="" required="required" /><br>
	
		<label for="Thallium">Thallium:</label><br>
		<select name="Thallium" id="ST_Depression">
			<option value="Normal">Normal</option>
			<option value="Fixed Defect">Fixed Defect</option>
			<option value="Reversible Defect">Reversible Defect</option>
		<select><br>
		
		<button type="submit" class="btn  btn-primary btn-block btn-large">Predict</button>
	</form>

   <br>
   <br>
  
   
 </div>
 {{pred}}

</body>
</html>
