<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Predict Heart Disease</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
  
</head>

<body>
 <div class="login">
	<hl>Predict Heart Disease</hl>
	   
	<form action="{{ url_for('predict')}}"method="POST">
	  	<label for="age">Age (Years):</label><br>
		<input type="number" name="age" placeholder="" required="required" /><br>
		<label for="age">Gender (Male/Female):</label><br>
		<input type="text" name="gender" placeholder="" required="required" /><br>
		<label for="age">Chest_Pain (Typical,Atypical,Not Anginal,Asymptomatic):</label><br>
		<input type="text" name="Chest_Pain" placeholder="" required="required" /><br>
		<label for="age">Blood_Pressure (Number in mm Hg on admission to the hospital):</label><br>
		<input type="number" name="Blood_Pressure" placeholder="" required="required" /><br>
		<label for="age">Cholesterol (Number in mg/dl):</label><br>
		<input type="number" name="Cholesterol" placeholder="" required="required" /><br>
		<label for="age">Blood_Sugar (fasting blood sugar <120mg or 120mg+):</label><br>
		<input type="number" name="Blood_Sugar" placeholder="" required="required" /><br>
		<label for="age">Rest_ECG (Normal, ST Abnormality, LV Abnormality):</label><br>
		<input type="text" name="Rest_ECG" placeholder="" required="required" /><br>
		<label for="age">Max Heart Rate (Number):</label><br>
		<input type="text" name="Max_Heart_Rate" placeholder="" required="required" /><br>
		<label for="age">Exercise_Angina (No, Yes):</label><br>
		<input type="text" name="Exercise_Angina" placeholder="" required="required" /><br>
		<label for="age">ST Depression (None, Low, High):</label><br>
		<input type="text" name="ST_Depression" placeholder="" required="required" /><br>
		<label for="age">ST Slope (Flat, Upslope, Downslope):</label><br>
		<input type="text" name="ST_Slope" placeholder="" required="required" /><br>
		<label for="age">Marked Vessels (Number):</label><br>
		<input type="text" name="Marked_Vessels" placeholder="" required="required" /><br>
		<label for="age">Thalium (Normal, Fixed Defect, Reversible Defect):</label><br>
		<input type="text" name="Thalassemia" placeholder="" required="required" /><br>
		
		<button type="submit" class="btn  btn-primary btn-block btn-large">Predict</button>
	</form>

   <br>
   <br>
  
   
 </div>
 {{pred}}

</body>
</html>
